<header>
  <div class="header-background">
    <nav class="left">
      <ul>
        <li><a href="/contact">contact</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/">home</a></li>
      </ul>
    </nav>
    <nav class="right">
      <ul>
        <li><img src="twitter.png" alt="" /></li>
        <li><img src="gmail.png" alt="" /></li>
      </ul>
    </nav>
    <h1>FUTURE SOUNDS</h1>
  </div>

</header>

{{outlet}}

<!-- <footer>

</footer> -->
